@using OneContainerDemo.Options

<div style="position: absolute; top:0; width: 100%; height: 100%; z-index: 9999; pointer-events: none;
            display: flex; align-items:center; justify-content:center; flex-direction: column;">
    @foreach(var item in Options)
    {
        <div @key="item" style="background-color: #efefef;">
            <h3>ModalContainer</h3>
            @item.RenderFragment
        </div>
    }
</div>

@code {
    public static ModalContainer? Instance { get; private set; }

    public ModalContainer()
    {
        Instance = this;
    }

    List<ModalOption> Options = new List<ModalOption>();

    public void Add(ModalOption option)
    {
        Options.Add(option);
        StateHasChanged();
    }
}
