@using OneContainerDemo.Options

<div style="position: absolute; top:0; width: 100%; height: 100%; z-index: 9999; pointer-events: none;
            display: flex; align-items:center; justify-content:flex-start; align-items:flex-end;flex-direction: column;">
    @foreach(var item in Options)
    {
        <div @key="item" style="background-color: #ccc;">
            <h3>NotifycationContainer</h3>
            @item.RenderFragment
        </div>
    }
</div>

@code {
    public static NotifycationContainer? Instance { get; private set; }

    public NotifycationContainer()
    {
        Instance = this;
    }

    List<NotificationOption> Options = new List<NotificationOption>();

    public void Add(NotificationOption option)
    {
        Options.Add(option);
        StateHasChanged();
    }
}
